* {
	margin: 0px;
	padding: 0px;
}

html {
	color: rgb(230, 104, 202);
	background-repeat: repeat-x;
	background-position: bottom center;
	background-color: yellow;
}

body {
	font-family: 'Segoe UI';
	background-image: url('../images/gradient.png');
	background-repeat: repeat-x;
	background-position: top center;
}

h1 {
	font-size: 1.3em;
	text-shadow: -2px 1px 2px rgb(230, 104, 202);
	margin-bottom: 25px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	color: yellow;
}

.clear {
	clear: both;
}

.container {
	width: 700px;
	background-color: black;
	min-height: 350px;
	margin: auto;
	padding: 25px;
	border: 1px solid green;
	background-image: url('../images/petite-etoile.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	box-shadow: 0 0 15px rgb(230, 104, 202);
	border-radius: 3px;
	animation-name: flashEtoile;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes flashEtoile {
	0% {
		background-color: black;
		background-image: url('../images/petite-etoile.png');
	}
	1% {
		background-image: none;
		background-color: rgba(0, 0, 0, 0.85);
	}
	10% {
		background-image: url('../images/petite-etoile.png');
	}
	30% {
		background-image: url('../images/petite-etoile.png');
	}
	40% {
		background-color: rgb(10, 44, 54);
	}
	79% {
		background-image: url('../images/petite-etoile.png');
	}
	80% {
		background-image: none;
		background-color: rgba(0, 0, 0, 0.88);
	}
	95% {
		background-image: url('../images/petite-etoile.png');
	}
	100% {
		background-image: url('../images/petite-etoile.png');
	}
}

.header {
	width: 750px;
	margin: 0px auto;
	margin-bottom: 5px;
	color: white;
	padding-bottom: 3px;
}

.header h2 {
	text-indent: -1000px;
	width: 180px;
	height: 37px;
	margin-top: 5px;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	animation-name: titre;
	animation-duration: 7.5s;
	animation-iteration-count: infinite;
}

@keyframes titre {
	0% {
		transform: translateY(50px);
	}
	30% {
		transform: translateY(25px);
		transform: rotate(-4deg);
	}
	38% {
		transform: translateY(50px);
	}
	60% {
		transform: rotate(2.5deg);
	}
	65% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(50px);
	}
}

.header .menu {
	margin-top: 20px;
	text-align: right;
	font-size: 25px;
}

.header .menu ul li {
	display: inline;
	padding-left: 20px;
	padding-right: 3px;
}

.header .username-section {
	float: right;
	width: 240px;
	font-style: italic;
	font-size: 20px;
	text-align: right;
}

.header .site-title-section {
	float: left;
	width: 750px;
}

.form-label {
	float: left;
	width: 150px;
}

.form-input {
	float: left;
	width: 150px;
}

.form-separator {
	clear: both;
	height: 10px;
}

.error-div {
	border: 1px solid rgb(116, 30, 97);
	padding: 5px;
	border-radius: 3px;
	background-color: rgb(230, 104, 202);
	margin-bottom: 20px;
	color: rgb(116, 30, 97);
}

.login-form-frame, .logout-frame {
	color: black;
	font-weight: bold;
	margin: 20px auto;
	width: 50%;
	border-radius: 3px;
	border: 1px solid #6b5736;
	padding: 20px;
	background: linear-gradient(rgb(28, 139, 173), yellow);
}

.logout-frame {
	font-size: 50px;
	text-align: center;
	text-shadow: -2px 1px 2px rgb(230, 104, 202);
	animation-name: petiteEtoile2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes petiteEtoile2 {
	0% {
		transform: translateY(30px);
	}
	20% {
		transform: translateY(10px);
		transform: rotate(-3deg);
	}
	38% {
		transform: translateY(10px);
	}
	66% {
		transform: translateY(25px);
		transform: rotate(1.5deg);
	}
	80% {
		transform: translateY(25px);
	}
	100% {
		transform: translateY(30px);
	}
}

button {
	box-shadow: rgba(0, 0, 0, 1) 0 0px 2px 0;
	color: #333;
	background-color: rgb(230, 104, 202);
	border-radius: 3px;
	border: none;
	font-size: 16px;
	font-weight: 700;
	height: 32px;
	padding: 4px 16px;
	cursor: pointer;
}

button:hover {
	background-color: black;
	color: yellow;
}

#canvasLogout {
	width: 750px;
	height: 400px;
	position: absolute;
	top: 134px;
	left: calc((100vw - 750px) / 2);
}

#canvasIndex {
	width: 900px;
	height: 700px;
	position: absolute;
	top: 180px;
	left: calc((100vw - 900px) / 2);
	background-image: url('../images/bg.png');
	z-index: -1;
}

#boite-de-niveaux {
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: scroll;
	align-items:stretch;
	justify-content: center;
	width: 700px;
	height: 600px;
}

.cadre-niveau {
	border:1px solid white;
	background-color:#555;
	padding:30px;
	text-align:center;
	margin:0 10px;
	transition: 1s;
	box-shadow: 0 0 10px white;
}

.cadre-niveau .points-de-vie-du-boss, .cadre-niveau .type {
	margin-top:30px;
	font-size:30px;
	font-weight:bold;
	text-shadow: 0 0 14px black;
}

.cadre-niveau:hover {
	cursor:pointer;
	background-color:#999;
	box-shadow: 0 0 10px #999;
}