/* -------------------------------------------------------------------------------------------------------------------
 Section générale
----------------- */

* {
	margin: 0px;
	padding: 0px;
}

html {
	color: rgb(230, 104, 202);
	background-image: url(../images/bg_html.png);
}

body {
	font-family: 'Segoe UI';
	background-image: url(../images/gradient.png);
	background-repeat: repeat-x;
	background-position: top center;
}

/* -------------------------------------------------------------------------------------------------------------------
 En-tête des pages
----------------- */

.header {
	width: 800px;
	margin: 0px auto;
	margin-bottom: 5px;
	color: white;
	padding-bottom: 3px;
}

.header h2 {
	text-indent: -1000px;
	width: 180px;
	height: 37px;
	margin-top: 5px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	animation-name: titre;
	animation-duration: 7.5s;
	animation-iteration-count: infinite;
}

@keyframes titre {
	0% {
		transform: translateY(50px);
	}
	30% {
		transform: translateY(25px);
		transform: rotate(-4deg);
	}
	38% {
		transform: translateY(50px);
	}
	60% {
		transform: rotate(2.5deg);
	}
	65% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(50px);
	}
}

.header .menu {
	margin-top: 20px;
	text-align: right;
	font-size: 25px;
}

.header .menu ul li {
	display: inline;
	padding-left: 20px;
	padding-right: 3px;
}

.header .username-section {
	float: right;
	width: 240px;
	font-style: italic;
	font-size: 20px;
	text-align: right;
}

.header .site-title-section {
	float: left;
	width: 750px;
}

/* -------------------------------------------------------------------------------------------------------------------
 Boîte principale au milieu de la page
----------------- */

.container {
	width: 750px;
	background-color: black;
	min-height: 350px;
	margin: auto;
	padding: 25px;
	border: 1px solid green;
	background-image: url(../images/petite-etoile.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	box-shadow: 0 0 15px rgb(230, 104, 202);
	border-radius: 3px;
	animation-name: flashEtoile;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes flashEtoile {
	0% {
		background-color: black;
		background-image: url(../images/petite-etoile.png);
	}
	1% {
		background-image: none;
		background-color: rgba(0, 0, 0, 0.85);
	}
	10% {
		background-image: url(../images/petite-etoile.png);
	}
	30% {
		background-image: url(../images/petite-etoile.png);
	}
	40% {
		background-color: rgb(10, 44, 54);
	}
	79% {
		background-image: url(../images/petite-etoile.png);
	}
	80% {
		background-image: none;
		background-color: rgba(0, 0, 0, 0.88);
	}
	95% {
		background-image: url(../images/petite-etoile.png);
	}
	100% {
		background-image: url(../images/petite-etoile.png);
	}
}

/* -------------------------------------------------------------------------------------------------------------------
 Divers
----------------- */

h1 {
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 15px;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	color: rgb(255, 210, 25);
}

.clear {
	clear: both;
}

/* -------------------------------------------------------------------------------------------------------------------
 Formulaire
----------------- */

.form-label {
	float: left;
	width: 150px;
}

.form-input {
	float: left;
	width: 150px;
}

.form-separator {
	clear: both;
	height: 10px;
}

.error-div {
	border: 1px solid rgb(116, 30, 97);
	padding: 5px;
	border-radius: 3px;
	background-color: rgb(230, 104, 202);
	margin-bottom: 20px;
	color: rgb(116, 30, 97);
}

.login-form-frame {
	color: black;
	font-weight: bold;
	margin: 20px auto;
	width: 50%;
	border-radius: 3px;
	border: 1px solid #6b5736;
	padding: 20px;
	background: linear-gradient(rgb(40, 80, 110), rgb(255, 210, 25));
}

button {
	box-shadow: rgba(0, 0, 0, 1) 0 0px 2px 0;
	color: #333;
	background-color: rgb(230, 104, 202);
	border-radius: 3px;
	border: none;
	font-size: 16px;
	font-weight: 700;
	height: 32px;
	padding: 4px 16px;
}

button:hover {
	background-color: black;
	color: rgb(255, 210, 25);
	cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------------
 stats-du-joueur
----------------- */

#stats-du-joueur {
	color: rgb(230, 104, 202);
	font-size: 22px;
	line-height: 16px;
	text-align: center;
	margin: 20px auto;
	margin-bottom: 160px;
	width: 65%;
	border-radius: 3px;
	border: 1px solid #6b5736;
	background: linear-gradient(rgb(40, 80, 110), rgb(255, 210, 25));
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding-top: 30px;
	padding-bottom: 30px;
}

#stats-du-joueur h1 {
	color: black;
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;
	text-shadow: -2px 1px 2px rgb(230, 104, 202);
}

/* -------------------------------------------------------------------------------------------------------------------
 Logout + partie-terminée
----------------- */

.logout-frame, .partie-terminee {
	color: black;
	font-weight: bold;
	margin: 20px auto;
	width: 50%;
	border-radius: 3px;
	border: 1px solid #6b5736;
	padding: 20px;
	background: linear-gradient(rgb(40, 80, 110), rgb(255, 210, 25));
	font-size: 50px;
	text-align: center;
	text-shadow: -2px 1px 2px rgb(230, 104, 202);
	animation-name: cadreQuiBouge;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes cadreQuiBouge {
	0% {
		transform: translateY(30px);
	}
	20% {
		transform: translateY(10px);
		transform: rotate(-3deg);
	}
	38% {
		transform: translateY(10px);
	}
	66% {
		transform: translateY(25px);
		transform: rotate(1.5deg);
	}
	80% {
		transform: translateY(25px);
	}
	100% {
		transform: translateY(30px);
	}
}

/* -------------------------------------------------------------------------------------------------------------------
 Boîte qui contient tous les niveaux (lobby)
----------------- */

#boite-de-niveaux {
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: scroll;
	align-items: stretch;
	justify-content: center;
	width: 750px;
	height: 600px;
}

.cadre-niveau {
	width: 28%;
	height: 185px;
	line-height: 25px;
	padding-top: 52px;
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	color: white;
	background-image: url(../images/bg_cadre_niveau.png);
	background-size: cover;
	transition: 1s;
	border: 1px solid rgb(130, 186, 238);
	box-shadow: 0 0 10px rgb(130, 186, 238);
}

.cadre-niveau:hover {
	background-image: linear-gradient(to right, rgb(92, 24, 77), rgb(92, 24, 77));
	color: rgb(255, 210, 25);
	border: 1px solid rgb(255, 210, 25);
	box-shadow: 0 0 50px rgb(255, 210, 25);
	cursor: pointer;
}

h2.nom {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2.valeur-du-niveau {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 3.5px;
}

.cadre-niveau .points-de-vie-du-boss, .cadre-niveau .type {
	font-size: 21px;
	font-weight: 500;
	font-style: italic;
	text-shadow: 0 0 5px rgb(230, 104, 202);
}

/* -------------------------------------------------------------------------------------------------------------------
 Canvas
----------------- */

#canvasLogout {
	width: 800px;
	height: 400px;
	position: absolute;
	top: 160px;
	left: calc((100vw - 800px) / 2);
	z-index: 1;
}

#canvasIndex {
	width: 1000px;
	height: 700px;
	position: absolute;
	top: 180px;
	left: calc((100vw - 1000px) / 2);
	z-index: -1;
}

#canvasLobby {
	width: 100%;
	height: 65%;
	margin-top: 210px;
}

#canvasJeu {
	width: 630px;
	height: 75%;
	background-color: black;
	border: 2px solid rgb(255, 210, 25);
	border-radius: 10px;
}

/* -------------------------------------------------------------------------------------------------------------------
 Cadre du jeu
----------------- */

/* ---------------------------------
 MENU BOSS */

#boss {
	width: 310px;
	height: 60px;
	position: absolute;
	top: 100px;
	left: calc((100vw - 310px) / 2 - 246px);
	background-color: black;
	border: 1px solid green;
	border-radius: 3px;
	border-bottom: none;
	font-weight: bold;
}

#infos-du-boss {
	width: 100%;
	height: 30px;
	padding-left: 10px;
}

#marge-pr-hp-du-boss {
	padding-left: 10px;
	padding-right: 10px;
}

#hp-du-boss {
	width: 100%;
	height: 23px;
	background-image: url(../images/hpBoss.png);
	color: black;
	text-align: center;
}

/* ---------------------------------
 MENU DU HAUT (infos alliés) */

#jeu-menu-haut {
	height: 8%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}

#nb-allies, #allie1, #allie2, #allie3, #allie4 {
	width: 20%;
	height: 100%;
	font-size: 18px;
	color: black;
	line-height: 15px;
	font-weight: bold;
}

#nb-allies {
	text-align: center;
	text-shadow: -0.5px 0 rgb(130, 186, 238), 0 0.5px rgb(130, 186, 238), 0.5px 0 rgb(130, 186, 238), 0 -0.5px rgb(130, 186, 238);
	padding-top: 8px;
	background-image: url(../images/nbAllies.png);
	color: rgb(0, 2, 110);
	border: 2px solid black;
	border-radius: 10px;
}

#allie1, #allie2, #allie3, #allie4 {
	background-color: black;
	color: rgb(255, 210, 25);
	font-size: 15px;
	text-align: right;
	padding-right: 5px;
	border-style: dashed;
	border-color: rgb(255, 210, 25);;
	border-top: none;
	border-bottom: none;
	border-left: none;
}

/* ---------------------------------
 SECTION DU MILIEU (canvas + boutons) */

#jeu-milieu {
	display: flex;
	flex-wrap: wrap;
	height: 65%;
	width: 100%;
}

#menu-a-droite {
	width: 15%;
	height: 90%;
	display: flex;
	flex-direction: column;
	padding-top: 2.5%;
}

#bouton1, #bouton2, #bouton3 {
	width: 100px;
	margin-left: 14px;
	margin-bottom: 10%;
	height: 13.5%;
	background-repeat: no-repeat;
	background-position-x: center;
	color: black;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

#bouton1 {
	padding-top: 6.5%;
	background-image: url(../images/bouton1.png);
}

#bouton2 {
	padding-top: 6.5%;
	background-image: url(../images/bouton2.png);
}

#bouton3 {
	padding-top: 6.5%;
	background-image: url(../images/bouton3.png);
}

/* ---------------------------------
 MENU DU BAS (infos du joueur) */

#jeu-menu-bas {
	height: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: black;
	background-image: url(../images/menuInfosJoueur.png);
	background-size: cover;
	color: rgb(255, 210, 25);
	border: 2px solid black;
	border-radius: 10px;
	margin-top: 6px;
}

#nom-joueur, #hp-joueur, #mp-joueur{
	text-align: center;
	font-size: 37px;
	font-weight: 500;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	padding-top: 24px;
}
